{% extends 'base.html.twig' %}

{% block title %}Stuvent{% endblock %}


{% block body %}
<div class="about" xmlns="http://www.w3.org/1999/html">
    <div class="about-text">
        <br>
        <h1> {{ evt.title }}</h1>
        <hr>
        <img class="event-img img-fluid" src="/{{ evt.image }}">
        <br>
        <br><br>

        <h1>Over het evenement</h1> <br>
        <h1>Bedrijf:</h1><br>
        <h3>{{ evt.company }}</h3>
        <hr>
        <h1>Beschrijving:</h1>
        <p>{{ evt.description }}</p>
        <hr>
        <h1>Datum:</h1>
        <h3>{{ evt.date|date('d M H:i') }}</h3>
        <h3>{{ evt.enddate|date('d M H:i') }}</h3>
        <hr>
        <h1>Opleiding:</h1><br>
        <h3>{{ evt.opleiding }}</h3>
        <hr>
        <h1>Inschrijvingen:</h1>
        <br>
        <div class="row">
        <table class="event-table" id="inschrijvingenTabel">
            <thead>
            <tr>
                <th class="enrollTableHeader">Naam</th>
                <th class="enrollTableHeader">Email</th>
                <th class="enrollTableHeader">Student nummer</th>
                <th class="enrollTableHeader" >Telefoonnummer</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.firstName }} {{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.studentNumber }}</td>
                    <td>{{ user.Telefoonnummer }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

        <script>

            function ExportToExcel(type, fn, dl) {
                var elt = document.getElementById('inschrijvingenTabel');
                var wb = XLSX.utils.table_to_book(elt, {sheet: "sheet1"});
                return dl ?
                    XLSX.write(wb, {bookType: type, bookSST: true, type: 'base64'}) :
                    XLSX.writeFile(wb, fn || ('Inschrijvingen {{evt.title }}.' + (type || 'xlsx')));
            }

        </script>
        <br>
        <button class="buttondiv1" onclick="ExportToExcel('xlsx')">Export table to excel</button>


        {% endblock %}
        {% block footer %}
{% endblock %}