{% extends 'base.html.twig' %}

{% block title %}User Events{% endblock %}

{% block body %}

    <div class="about-text">
        <div class="container">
            <div class="row">
                <h1>Overzicht van {{ klas }}</h1>
                <table id="overviewtable">
                    <thead>
                    <tr>
                        <th>voornaam</th>
                        <th>achternaam</th>
                        <th>Stageuren</th>
                        <th>Klas</th>
                        <th>Meer info</th>


                    </tr>
                    </thead>
                    <tbody>
                    {% for user in usersByKlas %}
                        <tr>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{totalWorkHours[user.id] }}</td>
                            <td>{{ user.klas.naam }}</td>
                            <td id=""><a class="moreinfolinks" href="/studentinfo/{{ user.id }}">info</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <script>

                    function ExportToExcel(type, fn, dl) {
                        var elt = document.getElementById('overviewtable');
                        var wb = XLSX.utils.table_to_book(elt, {sheet: "sheet1"});
                        return dl ?
                            XLSX.write(wb, {bookType: type, bookSST: true, type: 'base64'}) :
                            XLSX.writeFile(wb, fn || ('overzicht_{{ klas }}.' + (type || 'xlsx')));
                    }

                </script>

                <br>

            </div>
            <br>
            <br>
            <button class="buttondiv1" onclick="ExportToExcel('xlsx')">Export table to excel</button>
        </div>
    </div>
{% endblock %}
