{% extends 'base.html.twig' %}

{% block title %}User Events{% endblock %}

{% block body %}

    <div class="about-text">
        <div class="container">
            <div class="row">
                <table>
                    <thead>
                    <tr>
                        <th>voornaam</th>
                        <th>achternaam</th>
                        <th>Stageuren</th>
                        <th>Klas</th>
                        <th>Meer info</th>


                    </tr>
                    </thead>
                    <tbody>
                    {% for user in usersByKlas %}
                        <tr>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.klas.naam }}</td>
                            <td id=""><a class="moreinfolinks" href="/studentinfo/{{ user.id }}">info</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
