    {% extends 'base.html.twig' %}

{% block title %}Stuvent{% endblock %}


{% block body %}



<!--Hier beginnen de events-->
    <section id="events">
    {% for message in app.flashes('succes') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
        <div id="grid">


    {% for events in evt %}
        <div class="card">
            <div class="card-body">
                <div class="image-border">
                    <img class="card-img-top" src="{{ events.image }}">
                </div>
                <h1 class="card-title">{{ events.title }}</h1>
                <h2 class="opleidingtype">{{ events.opleiding }}</h2>
                <h3>Deelnemers {{ totalAttendees[events.id] }}/{{ events.attendees }}</h3>
                <h3>{{ events.date|date('d M H:i') }}</h3>
                <h3>{{ events.enddate|date('d M H:i') }}</h3>

                <a class="hyperlink" href={{ path("more_info", {id:events.id} ) }} >Meer informatie en inschrijven</a>
            </div>
        </div>
    {% endfor %}
    {% block footer %}
    {% endblock %}

{% endblock %}