{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}
<div class="w3-content w3-section" style="width: 100%"></div>
<img class="mySlides" src="img/img1.png" style="width:100vw">
</div>
<!--Hier is de nav bar-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<div class="container-fluid ">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registreren</a></li>
                <li><a href="about.html">Over Stuvent</a></li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>



<!--Hier beginnen de events-->
    <section id="events">
        <div id="grid">
            {% for events in evt %}
            <div class="card">
                <div class="card-body">
                    <div class="image-border">
                        <img class="card-img-top" src="{{ events.image }}">
                    </div>
                    <h1>{{ events.title }}</h1>
                    <h3>{{ events.date }}</h3>
                    <h5>{{ events.time }}</h5>
                    <a class="hyperlink" href={{ path("more_info", {id:events.id} ) }} >Meer informatie en inschrijven</a>
                </div>
            </div>
    {% endfor %}

{% endblock %}
