{% extends 'base.html.twig' %}

{% block title %}My profile{% endblock %}

{% block body %}
<div class="about-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <img class="profile_img" src="https://source.unsplash.com/250x250/?profile" alt="student profile-picture">
            <br>
            <br>
            <h3>{{app.user.firstName}} {{app.user.lastName}} </h3>
          </div>
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">
              </strong>{{ app.user.studentNumber }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Algemene Informatie </h3>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">Klas</th>
                <td width="2%"></td>
                <td>2B</td>
              </tr>
              <tr>
              </tr>
              <tr>
                <th width="30%">Telefoonnummer</th>
                <td width="2%"></td>
                <td>06+++++++</td>
              </tr>
              <tr>
                <th width="30%">Opleiding</th>
                <td width="2%"></td>
                <td>Leisure</td>
              </tr>
              <tr>
                <th width="30%">Email</th>
                <td width="2%"></td>
                <td>{{ app.user.email }}</td>
              </tr>
            </table>
          </div>
        </div>
          <div style="height: 26px"></div>
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h3>
          </div>
          <div class="card-body pt-0">
              <p>Lorem
              Lorem ipsum dolor sit amet, coulla paorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <h1>inschrijvingen :</h1>
    <table id="eventtable" class = 'event-table' style="width:100%">

      <tr class="myprofile">
        <th>Naam</th>
        <th>bedrijf</th>
        <th>Uurtype</th>
        <th>aantal uur</th>
        <th>datum</th>
        <th>tijd</th>
        <th>meer info</th>
      </tr>

      {% for events in evt %}

        <tr>
          <td>{{ events.title }}</td>
          <td>{{ events.company }}</td>
          <td>{{ events.hourstype }}</td>
          <td class="aantalUur">{{ events.aantalUur }}</td>
          <td>{{ events.date }}</td>
          <td>{{ events.time }}</td>
          <td id=""><a class="moreinfolinks" href="/{{ events.id }}">info</td>
        </tr>


      {% endfor %}

      <tr>

      </tr>
    </table>
    <br>
    <button onclick="totalsum()">bereken</button> <h1 id="result">.</h1>
  </div>
  </div>


</div>
  {% block javascripts %}
    <script src={{ asset('js/script.js') }} ></script>

    {{ encore_entry_script_tags('app') }}
  {% endblock %}
{% endblock %}
