{% extends 'base.html.twig' %}

{% block title %}Stuvent{% endblock %}


{% block body %}

    <div id="grid">


    {% for users in user %}
        <div class="card">
            <div class="card-body">
                <div class="image-border">
                    <img class="card-img-top" src="{{ users.image }}">
                </div>
                <h1>{{ users.firstName }} {{ users.lastName }}</h1>
                <h1>{{ users.klas.naam }}</h1>
                <h3>{{ users.opleiding}}</h3>
                <a class="hyperlink" href={{ path("studentinfo", {id:users.id} ) }} >Meer informatie over student</a>
            </div>
        </div>
    {% endfor %}
    {% block footer %}
    {% endblock %}

{% endblock %}