{% extends 'base.html.twig' %}

{% block title %}Stuvent{% endblock %}


{% block body %}

    <div class="about-text">
    <h1>Klassen:</h1>
                {% for klassen in klas %}
                <a href="/users/klas/{{ klassen.id }}">{{ klassen.naam }}</a>
                {% endfor %}
        <hr>

        </div>





    </div>
    <div id="grid">



    {% for user in users %}
        {% if 'ROLE_ADMIN' not in user.roles %}
        {% if 'ROLE_beheerder' not in user.roles %}
        <div class="card">
            <div class="card-body">
                <div class="image-border">
                    <img class="card-img-top" src="{{ user.image }}">
                </div>
                <h1>{{ user.firstName }} {{ user.lastName }}</h1>
                <h1>{{ user.klas.naam }}</h1>
                <h3>{{ user.opleiding }}</h3>
                <h3>Stage uren: {{totalWorkHours[user.id] }}</h3>
                <a class="hyperlink" href={{ path("studentinfo", {id:user.id} ) }}>Meer informatie over student</a>
            </div>
        </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% block footer %}
    {% endblock %}

{% endblock %}