{% extends 'base.html.twig' %}

{% block title %}Stuvent{% endblock %}


{% block body %}


    <script>
        function searchname() {
            let input, filter, cards, cardContainer, title, i;
            input = document.getElementById("searchbyName");
            filter = input.value.toUpperCase();
            cardContainer = document.getElementById("grid");
            cards = cardContainer.getElementsByClassName("card");
            for (i = 0; i < cards.length; i++) {
                title = cards[i].querySelector("h1");
                if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                    cards[i].style.display = "";
                } else {
                    cards[i].style.display = "none";
                }
            }
        }

    </script>


    <div class="about-text"><h1>Docenten:</h1>
        <hr>
        <input type="text" id="searchbyName" class="form-control" onkeyup="searchname()" placeholder="Zoek op Naam">
    </div>
    <div id="grid">



    {% for user in users %}
        {% if ('ROLE_beheerder' in user.roles and "koen@email.com" not in user.email and "Manish@email.com" not in user.email) or 'ROLE_ADMIN' in user.roles %}

            <div class="card">
                <div class="card-body">
                    <div class="image-border">
                        <img class="card-img-top" src="/{{ user.image }}">
                    </div>
                    <h1>{{ user.firstName }} {{ user.lastName }}</h1>
                    <a class="hyperlink" href={{ path("studentinfo", {id:user.id} ) }}>Meer informatie over Docent</a>
                    {# hieronder een knop met rechten aanpassen #}
                    {# <form method="post" action="{{ path('set_role_user', {'userId': user.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('set_role_user') }}" />
                        <button class="buttondiv1" type="submit" class="btn btn-primary">Maak leerling </button><br>
                    </form> #}
            <form onclick="return confirmDelete()" action="{{ path('delete_user', { 'id': user.id }) }}" method="post">
                <button class="buttondiv2" type="submit" >Verwijderen</button>
            </form>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% block footer %}
    {% endblock %}

{% endblock %}