{% extends 'base.html.twig' %}

{% block title %}Presentie en absentie {% endblock %}

{% block body %}

    <div class="about-text">
        <div class="container">
            <div class="row">
                {% for flashMessage in app.session.flashbag.get('danger') %}
                    <div class="alert alert-danger">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                <h1>Aanwezigheid</h1>
                <hr>
                <table>
                    <thead>
                    <tr>
                        <th class="enrollTableHeader" >Event</th>
                        <th class="enrollTableHeader">Datum</th>
                        <th class="enrollTableHeader" >Leerlingnummer</th>

                        <th class="enrollTableHeader">Leerling</th>
                        <th class="enrollTableHeader">Opleiding</th>
                        <th class="enrollTableHeader">Beoordeling/Aanwezig</th>
                        <th class="enrollTableHeader">Afwezig</th>


                    </tr>
                    </thead>
                    <tbody>
                    {% for queu_event in queu_events %}
                        <tr>
                            <td>{{ queu_event.event.title }}</td>
                            <td>{{ queu_event.event.date|date('D d M H:i') }} - {{ queu_event.event.enddate|date('D d M H:i') }}</td>

                            <td>{{ queu_event.user.studentnumber }}</td>

                            <td>{{ queu_event.user.lastName }} , {{ queu_event.user.firstName }}</td>
                            <td{{ queu_event.user.lastName }} </td>
                            <td>{{ queu_event.user.opleiding.name }}</td>


                            <td>
                                <form method="POST" action="{{ path('setpresent', {'id': queu_event.id}) }}">
                                    <input type="hidden" name="id" value="{{ queu_event.id }}">
                                    <select name="rating">
                                        <option value="O" {{ queu_event.rating == 'O' ? 'selected' : '' }}>O</option>
                                        <option value="V" {{ queu_event.rating == 'V' ? 'selected' : '' }}>V</option>
                                        <option value="G" {{ queu_event.rating == 'G' ? 'selected' : '' }}>G</option>
                                    </select>
                                    <button class="buttondiv1 decide" type="submit">{{ queu_event.accepted ? 'Opslaan' }}</button>

                                </form>


                            </td>
                            <td>

                                <form method="POST" action="{{ path('absentuser', {'id': queu_event.id}) }}">
                                    <input type="hidden" name="id" value="{{ queu_event.id }}">
                                    <button class="buttondiv2 decide" type="submit">Ja</button>
                                </form>

                            </td>


                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
