{% extends 'base.html.twig' %}

{% block title %}Stuvent{% endblock %}


{% block body %}



    <!--Hier beginnen de events-->
    <div class="about-text">

        <h1 class="outlineBold">Aankomende Events: </h1>
        <br>
        <hr>
        <button class="buttondiv1" onclick="window.location.href = '{{ path("add_events") }}'">Voeg evenementen toe</button>
        <button class="buttondiv3" onclick="window.location.href = '{{ path("shownotaccepted") }}'">Zie verzoeken (<span
                    onclick="" class="requests">{{ notAccepted }}</span>)
        </button>
        <button class="buttondiv2" onclick="window.location.href = '{{ path("studentoverview") }}'">Studentenoverzicht
        </button>
        <button class="buttondiv1" onclick="window.location.href = '{{ path("adminpastEvents") }}'">Afgelopen events
        </button>
        <button class="buttondiv3" onclick="window.location.href = '{{ path("unchecked_presences") }}'">Aanwezigheid
        </button>
    </div>

    <div id="grid">



    {% for events in evt %}
        <div class="card">
            <div class="card-body">
                <div class="image-border">
                    <img class="card-img-top" src="{{ events.image }}">
                </div>
                <h1 class="card-title">{{ events.title }}</h1>
                <h2 class="opleidingtype">{{ events.opleiding }}</h2>
                <h3>{{ events.date|date('D d M H:i') }}</h3>
                <h3>{{ events.enddate|date('D d M H:i') }}</h3>
                <a class="hyperlink" href={{ path("adminEventInfo", {id:events.id} ) }}>Meer informatie</a>
                <a href=/admin{{ path("more_info", {id:events.id} ) }}/remove>
                    <div class="middle trash-can tiny" >
                        <div class="top">
                            <div class="handle"></div>
                            <div class="base"></div>
                        </div>
                        <div class="body">
                            <div class="line"></div>
                            <div class="line second"></div>
                            <div class="line third"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <script> </script>
    {% endfor %}

{% endblock %}