{% extends 'base.html.twig' %}

{% block title %}Stuvent{% endblock %}


{% block body %}



    <!--Hier beginnen de events-->
    <div class="about-text">
        <button class="buttondiv1" onclick="window.location.href = '{{ path("add_events") }}'">voeg events toe</button>
        <button class="buttondiv3" onclick="window.location.href = '{{ path("shownotaccepted") }}'">zie verzoeken (<span onclick="" class="requests">{{ notAccepted }}</span>)
        </button>
        <button class="buttondiv2" onclick="window.location.href = '{{ path("studentoverview") }}'">Studentenoverzicht
        </button>
        <button class="buttondiv1" onclick="window.location.href = '{{ path("studentoverview") }}'">Vorige events
        </button>
    </div>

    <div id="grid">



    {% for events in evt %}
        <div class="card">
            <div class="card-body">
                <div class="image-border">
                    <img class="card-img-top" src="{{ events.image }}">
                </div>
                <h1 class="card-title">{{ events.title }}</h1>
                <h2 class="opleidingtype">{{ events.opleiding }}</h2>
                <h3>{{ events.date|date('D d M H:i') }}</h3>
                <h3>{{ events.enddate|date('D d M H:i') }}</h3>
                <h5>niv. {{ events.niveau }}</h5>
                <a class="hyperlink" href={{ path("more_info", {id:events.id} ) }}>meer informatie</a>
                <a class="gg-remove" href=/admin{{ path("more_info", {id:events.id} ) }}/remove></a>
            </div>
        </div>
    {% endfor %}

{% endblock %}