{% extends 'base.html.twig' %}

{% block title %}Stuvent{% endblock %}


{% block body %}



    <!--Hier beginnen de events-->

    <div class="about-text">
        <button class="pastevents" onclick="window.location.href = '{{ path("blog_list") }}'">Ga naar aankomende events
        </button>
        <br>
        <br>
        <br>
        <h1 class="outlineBold">Afgelopen Events: </h1>
        <hr>
    </div>
    <div id="grid">



    {% for events in evt %}
        <div class="card">
            <div class="card-body">
                <div class="image-border">
                    <img class="card-img-top" src="{{ events.image }}">
                </div>
                <h1 class="card-title">{{ events.title }}</h1>
                <h2 class="opleidingtype">{{ events.opleiding }}</h2>
                <h3>{{ events.date|date('D d M H:i') }}</h3>
                <h3>{{ events.enddate|date('D d M H:i') }}</h3>
                <h5>niv. {{ events.niveau }}</h5>
                <a class="hyperlink" href={{ path("more_info", {id:events.id} ) }}>meer informatie</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}